# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.env*/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# exclusion des   fichiers *.png produits sur le site github (RGPD)
*.png


# exclusion des fichiers intermédiaires LaTeX
*.ps
*.aux
*.log


*.patch # les fichiers issus de git diff > *.patch

test*.py

# exclusion des répertoires suivants :
Doc_Support/
data/
app/classes/Proposition/
png_out/
app/classes/RESERVE/
Amphi*/